    <div class="container" style="margin:0 auto;">
        <div class="row">
            <div class="span10 offset1">
                <%= image_tag('placeholder.jpg', :alt => 'TengGu') %>
            </div>

        </div>
    </div>

	

	<script src="views/pages/carousel.js"></script>